.achtergrond {
  background-color: lightblue;
}


#speel {
    height: 200px;
    width: 400px;
    background: lightgray;
    border-color: darkblue;
    border-width: 10px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}


#speel_text {
  font-size: 40px;
  color: darkblue;
}


#bomv {
  height: 50px;
}


#flappy-a {
  width: 50px;
}
